/* CSS Document */
@viewport {
    width: device-width;
    zoom: 1.0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.1vw;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 800px) {
    header {
        width: 100%;
        background-color: black;
        margin: 0;
        color: white;
        position: absolute;
        top: 0;
        height: 6%;
    }

    header h1 {
        font-size: 5vh;
    }

    .wrapper {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border: 1px black solid;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .wrapperLogin {
        padding: 0;
        margin: 10% 25%;
        width: auto;
        height: auto;
        border: 1px black solid;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }


    .login {
        background-color: grey;
        width: auto;
        display: block;
        height: 100%;
    }

    input {
        display: block;
        margin-left: 2%;
        width: 10vw;
    }

    .checkbox {
        margin: 0;
        width: 0;
    }

    button {
        border: 1px black solid;
        bottom: 5%;
        position: absolute;
        right: 3%;
        width: 10%;
        padding: 0;
        margin: 0;
    }


    footer {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 6%;
        border: 1px black solid;
        color: white;
        background-color: black;
        bottom: 0;
        position: absolute;
    }

    footer h1 {
        font-size: 3vh;
        margin-top: 1%;
    }
